@use 'sass:color';
@import 'styles/variables';

.headerWrapper {
  position: relative;

  .logoWrapper {
    position: absolute;
    top: -3rem;
    left: -3rem;

    & > a {
      display: flex;
      align-items: center;
    }

    .logoImage {
      width: 10rem;
    }

    .siteTitle {
      display: block;
      margin-top: 1rem;
      margin-left: 1.5rem;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: color.scale($color-primary, $lightness: -30%);
    }
  }

  .headerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .menuItem {
    display: inline-block;
    padding: 1.2rem 1.5rem;
    font-size: 1.4rem;
    letter-spacing: -0.01rem;
    color: $color-secondary;

    &:hover {
      color: color.scale($color-secondary, $lightness: -50%);
    }
  }
}
