@use 'sass:color';
@import 'styles/variables';

.headerWrapper {
  position: relative;

  .logoWrapper {
    position: absolute;
    top: -3rem;
    left: -3rem;

    & > a {
      display: flex;
      align-items: center;
    }

    .logoImage {
      width: 10rem;
    }

    .siteTitle {
      display: block;
      margin-top: 1rem;
      margin-left: 1.5rem;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: color.scale($color-primary, $lightness: -30%);
    }
  }

  .headerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .menuItem {
    display: inline-flex;
    align-items: center;
    padding: 1.2rem 1.5rem;
    font-size: 1.3rem;
    letter-spacing: -0.01rem;

    .icon {
      color: color.scale($color-secondary, $lightness: 60%);
      margin-right: 0.8rem;
    }

    .label {
      color: $color-secondary;
      display: inline-block;
      position: relative;

      .underline {
        position: absolute;
        z-index: -1;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: rgba($color-secondary, 10%);
      }
    }

    &:hover {
      .icon {
        color: color.scale($color-secondary, $lightness: 30%);
      }

      .label {
        color: color.scale($color-secondary, $lightness: -50%);

        .underline {
          height: 4px;
          background-color: $color-gold;
        }
      }
    }
  }
}
