@use 'sass:color';
@import 'styles/variables';

.headerWrapper {
  position: relative;
  border-bottom: 4px dotted color.scale($color-secondary, $lightness: 92%);
  margin-left: 15px;
  margin-right: 15px;

  .logoWrapper {
    position: absolute;
    top: -3rem;
    left: -4rem;

    & > a {
      display: flex;
      align-items: center;
      position: relative;
    }

    .logoImage {
      width: 10rem;
    }

    .siteTitle {
      display: block;
      margin-top: 0.64rem;
      margin-left: 1.5rem;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: color.scale($color-primary, $lightness: -30%);
    }
  }

  .headerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .menuItem {
    display: inline-flex;
    align-items: center;
    padding: 1.2rem 1.5rem;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;

    .icon {
      color: color.scale($color-secondary, $lightness: 60%);
      margin-right: 0.8rem;
    }

    .label {
      color: $color-secondary;
      display: inline-block;
    }

    &:hover {
      .icon {
        color: color.scale($color-secondary, $lightness: 30%);
      }

      .label {
        color: color.scale($color-secondary, $lightness: -50%);
      }
    }
  }
}
