@use 'sass:color';
@import 'styles/variables';

.fluidWrapper {
  background: color.scale($color-tertiary, $lightness: 95%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.loadSourceComponent {
  .urlInput,
  .dropBox {
    font-family: $font-sans-serif;
    font-size: 1.8rem;
    letter-spacing: -0.03rem;
    text-align: center;
    padding: 2rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
  }

  label {
    font-size: 1.4rem;
    letter-spacing: -0.01rem;
    color: color.scale($color-tertiary, $lightness: 40%);
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .urlInput {
    width: 100%;
    font-weight: 500;
    color: color.scale($color-tertiary, $lightness: 30%);
    box-shadow: 0 0.5rem 1rem rgba($color-tertiary, 10%);

    &:focus,
    &:hover {
      color: color.scale($color-tertiary, $lightness: 10%);
      box-shadow: 0 0.5rem 1rem rgba($color-tertiary, 20%);
    }
  }

  .dropBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .orDisplay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -1rem;
      width: 4rem;
      height: 4rem;
      border-radius: 8rem;
      color: color.scale($color-tertiary, $lightness: -20%);
      background-color: $color-tertiary;
      font-size: 1.2rem;
      font-weight: 800;
    }

    .dropBox {
      width: 100%;
      font-weight: 500;
      margin-top: 2rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      color: color.scale($color-tertiary, $lightness: 30%);
      background: color.scale($color-tertiary, $lightness: 90%);
      border: 1px solid color.scale($color-tertiary, $lightness: 70%);
    }
  }

  .proceedButtonWrapper {
    margin-top: 3rem;
  }
}
