@use 'sass:color';
@import 'styles/variables';

.columnDetailPage {
}

.columnDetailPageHeader {
  padding: 1.6rem 0;

  .backLink {
    color: $color-secondary;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 4rem;
    line-height: 1.1;

    span {
      display: inline-block;
    }

    .titleDivider {
      color: $color-primary;
      padding: 0 1rem;
    }

    .titleDesc {
      color: $color-primary;
    }
  }
}
