@use 'sass:color';
@import 'styles/variables';

.columnDetailPage {
}

.columnDetailPageHeader {
  padding: 1.6rem 0 0.6rem 0;

  .backLink {
    color: $color-secondary;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
