@use 'sass:color';
@import 'styles/variables';

.resultsTabs {
  font-size: 1.2rem;

  .tabItem {
    display: inline-block;

    color: #aaa;
    margin-right: 2rem;
    padding: 0.4rem 0;

    &.active {
      color: #000;
      border-bottom: 4px solid $color-primary;
    }
  }
}

.storyDivider {
  width: 100%;
  height: 1px;
  border-top: 0.5rem dotted #eee;
}

.fluidWrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
  }
}

.columnOverview {
  background: $color-primary;
  margin-top: 2rem;
}
