@use 'sass:color';
@import 'styles/variables';

.sectionTitle {
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;

  span {
    display: inline-block;
  }

  .divider {
    color: #ddd;
    padding: 0 1rem;
  }

  .desc {
    color: #ddd;
  }
}
