@use 'sass:color';
@import 'styles/variables';

.dataTableWrapper {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 3rem;
}

.fluidWrapper {
  background: color.scale($color-secondary, $lightness: 95%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
