@use 'sass:color';
@import 'styles/variables';

.dataTableWrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.fluidWrapper {
  background: color.scale($color-secondary, $lightness: 95%);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
