@use 'sass:color';
@import 'styles/variables';

.fluidWrapper {
  background: color.scale($color-secondary, $lightness: 95%);
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.randomizeBtn {
  color: $color-secondary;
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid color.scale($color-secondary, $lightness: 80%);
  border-radius: 10rem;
  padding: 1.2rem 1.8rem;
  margin-top: 3.6rem;
  cursor: pointer;

  .reactIcon {
    font-size: 1rem;
    margin-right: 1rem;
  }

  &:hover {
    color: color.scale($color-secondary, $lightness: -20%);
    border-color: color.scale($color-secondary, $lightness: 50%);
  }
}

.dropColumnsSection {
  p.explanation {
    color: $color-secondary;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
  }

  .dropButton {
    color: $color-secondary;
    background-color: white;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
    margin-top: 0.6rem;
    font-family: $font-monospace;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(#000, 3%);

    &:hover {
      text-decoration: line-through;
      box-shadow: 0 0 1rem rgba(#000, 12%);
    }

    &.selected {
      color: white;
      background-color: $color-secondary;

      .columnName {
        text-decoration: line-through;
      }
    }
  }
}

.bottomProceedButtonWrapper {
  margin-top: 3rem;
}
