@use 'sass:color';
@import 'styles/variables';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcf5c9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loadMessageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.waitImage {
      width: 12rem;
    }

    p {
      color: color.scale(#fcf5c9, $lightness: -40%, $saturation: -70%);
      font-weight: 400;
      letter-spacing: -0.01;
      margin-top: 1rem;
      font-size: 1.6rem;
    }
  }
}
