@use 'sass:color';
@import 'styles/variables';

.homePage {
  .heroWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p.hero {
    color: color.scale($color-secondary, $lightness: -15%);
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 6rem;
    letter-spacing: -0.05rem;
  }

  .overviewImageWrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    img {
      max-width: 60rem;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  .examples {
    background-color: color.scale($color-light-beige, $lightness: 30%);
    padding: 4rem 0;

    h2 {
      color: $color-secondary;
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-secondary;
      margin-bottom: 1rem;
    }
  }
}
