@use 'sass:color';
@import 'styles/variables';

.stepsDisplay {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.stepItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;

  cursor: not-allowed;

  &.clickable {
    cursor: pointer;
  }

  .numberCircle {
    display: flex;
    color: color.scale($color-tertiary, $lightness: 40%, $saturation: -90%);
    background-color: color.scale(
      $color-tertiary,
      $lightness: 85%,
      $saturation: -80%
    );

    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin-right: 1rem;
  }

  .label {
    color: color.scale($color-tertiary, $lightness: 70%, $saturation: -80%);
  }

  &.active {
    .numberCircle {
      color: white;
      background-color: $color-tertiary;
    }

    .label {
      color: color.scale($color-tertiary, $lightness: -80%);
    }
  }
}
