$color-primary: #f6ae39;
$color-secondary: #81745e;
$color-tertiary: #69b0ff;
$color-gold: #fff969;
$color-light-beige: #fbf5ec;
$color-dark-brown: #474127;

$font-sans-serif: 'Inter var', sans-serif;
$font-monospace: Consolas, Menlo, 'Roboto Mono', monospace;
