@use 'sass:color';
@import './variables';
@import './bootstrap-custom';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: $font-sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
blockquote,
p {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: $font-monospace;
  padding: 0.1em 0.3em;
  color: color.mix($color-primary, black, 90%);
  background-color: color.mix($color-primary, white, 6%);
  border: 1px solid color.mix($color-primary, white, 20%);
  border-radius: 5px;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

table {
  font-size: 0.9rem;
  letter-spacing: -0.01rem;
  font-family: $font-sans-serif;
  border-collapse: collapse;
  margin-bottom: 2rem;
  display: block;
  border: none;

  th {
    font-weight: 600;
  }

  th,
  td {
    border: none;
    padding: 0.4rem 1rem;
    text-align: left;
  }

  thead {
    th,
    td {
      color: #666;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  tbody {
    tr {
      th,
      td {
        border-bottom: 1px solid #e3e3e3;
      }
    }

    tr:nth-child(odd) {
      th,
      td {
        background-color: rgba(black, 2%);
      }
    }
  }
}
